<footer>
    <div class="footer-links">
        <a href="/pages/about.html">About</a>
        <a href="/pages/privacy.html">Privacy Policy</a>
        <a href="/pages/terms.html">Terms & Conditions</a>
    </div>
    <div class="footer-inline">
        <p>© <span id="year-copyright"></span> BEENUM LEARNING All rights reserved</p>
        <span class="footer-separator">•</span>
        <p class="site-credit"> Designed & Developed by <a href="https://beenumlearning.com" target="_blank">BEENUM LEARNING</a> </p>
    </div>

</footer>