<header class="top-banner">
    <div class="brand">
        <img src="../resources/logo/logos.jpg" class="logo">
        <div class="brand-text">
            <h1>BEENUM LEARNING</h1>
            <p>Simplifying Imaginations</p>
        </div>
    </div>
</header>

<nav>
    <a href="/index.html">Home</a>
    <a href="/pages/videos.html">YouTube</a>
    <a href="/pages/courses.html">Courses</a>
    <a href="/pages/about.html">About</a>
    <a href="/pages/contact.html">Contact Us</a>
</nav>

<!--<nav>
    <a href="../index.html#about">About</a>
    <a href="../index.html#courses">Courses</a>
    <a href="../index.html#contact">Contact</a>
    <a href="../pages/videos.html">Videos</a>
</nav>-->